*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

.container{
    width: 1450px;
    margin: auto;
}


.background__picture{
    background-image: url(../image/uywgdc.png);
    background-color: #eaf2fe;
    background-size: cover;
    background-repeat: no-repeat;
}



.nav__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #142349;
    font-size: 14px;
    font-weight: 500;
}
a i{
    color: #4268d2;
}
a:hover{
    color: #4268d2;
    transition: 0.3s;
}
.nav__img{
    width: 130px;
    margin: 0 16px;
}
.nav__right, .nav__list{
    display: flex;
    align-items: center;
    gap: 35px;
}
.nav__btn{
    width: 170px;
    font-size: 16px;
    color: #ffffff;
    background-color: #4d5ce5;
    padding: 10px 22px;
    border: 0;
    border-radius: 35px;
    margin: 0 0 0 25px;
}
.nav__btn:hover{
    background-color: #3043ef;
    transition: .3s;
}


.hero_tob{
    display: flex;
    justify-content: space-between;
    padding: 85px 43px;
}
.hero_two{
    display: flex;
    flex-direction: column;
    margin: 0px 32px 0px 64px;
    gap: 45px;
}
.hero_haeder{
    font-size: 76px;
    font-weight: 400;
    color: #142349;
}
.hero_haeder span{
    color: #4268d2;
}
.hero_two p{
    font-size: 18px;
    color: #616a85;
}
.hero_two button{
    width: 175px;
    height: 55px;
    background-color: #4d5ce5;
    color: #ffffff;
    border: 0;
    border-radius: 35px;
    font-size: 18px;
}
.hero_two button:hover{
    background-color: #3043ef;
    transition: .3s;
}
.hero_input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.hero_img{
    width: 210px;
}
.hero_input p{
    font-size: 15px;
    color: #616a85;
}
.background{
    display: flex;
    flex-direction: column;
    position: relative;
}
.background_img{
    width: 660px;
    position: absolute;
    z-index: 1;
    right: 105px;
    top: 50px;
}
.background_auth{
    width: 520px;
    position: relative;
    right: 175px;
    top: 20px;
}




.slider{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 35px 0px;
}
.slider p{
    text-align: center;
    font-size: 16px;
    color: #616a85;
}
.slider__img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.slider__img img{
    width: 120px;
}






.form__back{
   background-color: #d7e9ff; 
}
.form{
    display: flex;
    justify-content: center;
    padding: 75px 0px;
}
.form__up{
    width: 550px;
    position: relative;
    left: 70px;
    padding: 30px;
}
.form__down{
    width: 150px;
    position: relative;
    right: 140px;
    top: -30px;
}
.form__right{
    position: relative;
    top: 100px;
}
.form__right h2{
    font-size: 50px;
    color: #142349;
    font-weight: 400;
    padding: 0px 0px 20px;
}
.form__right span{
    color: #4268d2 ;
}
.form__right p{
    font-size: 18px;
    color: #616a85;
    margin: 0px 0px 50px;
}.form__right a{
    color: #4268d2;
} .form__right a:hover{
    color: #142349;
}
.form__right a i:hover{
    color: #142349;
}




.menu{
    background-image: url(../image/uywgdc.png);
    background-size: cover;
    background-color: #eaf2fe;
}

.menu__top{
    text-align: center;
}
.menu__top h2{
    font-size: 48px;
    font-weight: 400;
    color: #142349;
    padding: 40px 0px 20px 0px;
}
.menu__top span{
    color: #4268d2;
}
.menu__top p{
    font-size: 18px;
    color: #616a85;
    font-weight: 300;
}
.menu__auth{
    display: flex;
    justify-content: center;
    padding: 35px 0px 0px;
}
.menu__activ{
    /* background-image: url(/assets/image/efvefv.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1; */
    width: 760px;
    height: 260px;
    position: relative;
    margin: 20px;
    padding: 40px;
    z-index: 0;
}
.menu__activ h1{
color: #ffffff;
font-size: 46px;
font-weight: 400;
line-height: 1.1em;
letter-spacing: 0px;
padding: 0% 0% 20px 0px;
}
.menu__img{
    position: absolute;
    width: 760px;
    height: 260px;
    background-color: #0e3298;
    left: 0%;
    border-radius: 0px 80px 0px 80px;
    border: 0;
    z-index: -1;
    top: 0;
}
.menu__img2{
    width: 135px;
    position: relative;
    left: 580px;
    top: -70px;
}
.menu__activ a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    margin: 0px 0% 20px 0px;
}
.menu__activ i{
    color: #ffffff;
}
.menu__activ a:hover{
    color: #4268d2;
    transition: .3s;
}
.menu__activ i:hover{
    color: #4268d2;
    transition: .3s;
}
.menu__item{
    width: 360px;
    margin: 20px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
}
.menu__item img{
    width: 55px;
    padding: 0px 0px 20px;
}
.menu__item h3{
    font-size: 22px;
    font-weight: 400;
    color: #142349;
    margin: 0px 0px 15px;
}
.menu__item p{
    font-size: 16px;
    font-weight: 300;
    color: #616a85b0;
}
.menu__up{
    display: flex;
    justify-content: center;
    padding: 0% 0px 90px;
}




.card__back{
    background-color: #edf6ff;
    /* background-image: url(/assets/image/irueig.png); */
}


.card{
    display: flex;
    justify-content: space-around;
    padding: 100px 0px 50px;
    align-items: center;
    margin: 0px 45px;
}
.card h1{
    font-size: 48px;
    font-weight: 400;
    color: #142349;
    margin: 0px 0px 0px 40px;
}
.card span{
    color: #4268d2;
}
.card p{
    font-size: 18px;
    font-weight: 300;
    color: #616a85;
    margin: 0px 35px 25px 0px;
}
.card a{
    font-size: 18px;
    color: #4268d2;
}
.card a:hover{
    color: #142349;
}
.card i:hover{
    color: #142349;
}
.card__total{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0px 0px 70px;
}
.card__total img{
    width: 210px;
}
.card__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 2px;
}   
.card__img h3{
    width: 210px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    background-color: #4d5ce5;
}
.card__img p{
    width: 210px;
    text-align: center;
    color: #ffffffa8;
    background-color: #4d5ce5;
    font-size: 16px;
    font-weight: 300;
}

.number{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 20px;
}
.number p{
    font-size: 136px;
    color: #4268d238;
    text-align: center;
}
.number span{
    font-size: 30px;
    color: #142349;
    position: relative;
    bottom: 100px;
    left: 25px;
}


.name{
    display: flex;
    gap: 20px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../image/uywgdc.png);
    background-size: cover;
    padding-left: 145px;
}
.name__1{
    margin-right: 20px;
}
.name__1 h2{
    font-size: 48px;
    font-weight: 400;
    padding-bottom: 20px;
}
.name__1 span{
    color: #4268d2;
}
.name__1 p{
    font-size: 18px;
    font-weight: 300;
    color: #616a85;
    margin-bottom: 20px;
}
.name__1 button{
    width: 175px;
    height: 55px;
    background-color: #4d5ce5;
    color: #ffffff;
    border: 0;
    border-radius: 35px;
    font-size: 18px;
}
.name__1 button:hover{
    background-color: #3043ef;
    transition: .3s;
}
.name__2,.name__3{
    margin: 15px;
    padding: 50px;
}
.name__2 i,.name__3 i{
    color: #ffc861;
    padding-bottom: 30px;
}
.name__2 p,.name__3 p{
    font-size: 20px;
    font-weight: 400;
    color: #616a85;
    padding-bottom: 20px;
}
.teem__1,.teem__2{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.teem__1 img,.teem__2 img{
    width: 65px;
    margin-right: 20px;
}
.teem__1 div,.teem__2 div{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.teem__1 h4,.teem__2 h4{
    font-size: 20px;
    font-weight: 400;
}
.teem__1 p,.teem__2 p{
    font-size: 16px;
    font-weight: 300;
}
.name__2,.name__3{
    background-color: white;
    border-radius: 0px 100px 0px 100px;
}